body{
  background-color: rgb(242, 213, 178);
}

.outsideContainer{
  display: flex;
  justify-content: center;
}

.container {
  
  height: 100%;
  width: 40%;
  background-color: rgb(255, 245, 233);
  border-radius: 10px;
  margin-top: 100px;
}

h1 {
  padding: 10px 0px 5px 0px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: rgb(143, 116, 84);
}

ul li {
  background-color: rgb(255, 234, 209);
  list-style: none;
  padding: 10px;
  margin: 10px;
}

ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(143, 116, 84);
}

.listItems {
  width: 95%;
  padding-left: 10px;
}

.input {
  background-color: rgb(255, 234, 209);
  border: none;
  font-size: 18px;
  padding: 10px;
  margin: 3px;
  width: 100%;
}

.input:focus {
  outline-color:  rgb(143, 116, 84);
  outline-style: dotted;
  color:  rgb(143, 116, 84);
}

input[type="text"] {
  border: 2px solid rgb(255, 234, 209);
  border-radius: 10px;
}

.fa-xmark {
  color: rgb(143, 116, 84);
}

button {
  border: none;
  background-color: rgb(182, 152, 117);
  background-color: rgb(255, 234, 209);
}

.taskCounter {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    color: rgb(143, 116, 84);
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
